body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  letter-spacing: 0.05em;
}

.sans {
  font-family: 'Noto Sans JP', sans-serif;
}
.green {
  color: $green;
}